body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f5fdf7;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.logo span {
  font-weight: bold;
  font-size: 1.5em;
  color: #2e7d32;
}

.nav-actions button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

.signin-btn {
  background: linear-gradient(to right, #66bb6a, #43a047);
  color: white;
}

/* BOLETA AMPLIADA */

.receipt-container {
  width: 95%;
  max-width: 700px;
  margin: 50px auto;
  text-align: center;
}

.receipt-container h2 {
  margin-bottom: 30px;
  font-size: 36px;
}

.receipt-box {
  border: 2px solid #000;
  padding: 50px 40px;
  text-align: left;
  line-height: 2.2;
  font-size: 22px;
  background-color: #fff;
}

.receipt-box p {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.right-align {
  margin-left: auto;
}

.download-btn {
  margin-top: 35px;
  background-color: #4caf50;
  color: white;
  padding: 16px 40px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.download-btn:hover {
  background-color: #388e3c;
}
